main {
	margin: 100px 10vw;
	@include lt(10) {
		margin: 50px 10vw;
	}
	@include lt(5) {
		margin: 50px 5vw;
	}

	#hello {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-left: 60px;
		@include lt(10) {
			align-items: flex-start;
		}

		h2 {
			opacity: 0;
		}

		p {
			font-family: 'crimson-textbold-italic';
			opacity: 1;
			margin-left: 10px;
			opacity: .85;
		}
	}
}
