.color-yellow {
	color: $color-yellow;
}

.crimson {
	font-family: 'crimson-textbold-italic';
	font-size: 115%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.col-1-2 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		flex: 1;
		max-width: 50%;
		@include lt(10) {
			flex: 0 0 100%;
			max-width: 100%;
		}
		&.right {
			@include gt(10) {
				align-items: flex-end;
			}

		}
	}
}

@keyframes pulse {
	from {
		transform: scale(0.5);
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	to {
		transform: scale(1);
		opacity: 0;
	}
}
