.color-yellow {
	color: $color-yellow;
}

.crimson {
	font-family: 'crimson-textbold-italic';
	font-size: 115%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	&.right {
		// right: 0;
	}

	.col-1-2 {
		flex: 1;
		max-width: 50%;
		@media (max-width: 720px) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

@keyframes pulse {
	from {
		transform: scale(0.5);
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	to {
		transform: scale(1);
		opacity: 0;
	}
}
