@font-face {
		font-family: 'crimson-textbold-italic';
		src: url('~fonts/crimson-text/crimsontext-bolditalic-webfont.eot');
		src: url('~fonts/crimson-text/crimsontext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('~fonts/crimson-text/crimsontext-bolditalic-webfont.woff2') format('woff2'),
				 url('~fonts/crimson-text/crimsontext-bolditalic-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'crimson-textitalic';
		src: url('~fonts/crimson-text/crimsontext-italic-webfont.eot');
		src: url('~fonts/crimson-text/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('~fonts/crimson-text/crimsontext-italic-webfont.woff2') format('woff2'),
				 url('~fonts/crimson-text/crimsontext-italic-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'crimson-textsemibold-italic';
		src: url('~fonts/crimson-text/crimsontext-semibolditalic-webfont.eot');
		src: url('~fonts/crimson-text/crimsontext-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('~fonts/crimson-text/crimsontext-semibolditalic-webfont.woff2') format('woff2'),
				 url('~fonts/crimson-text/crimsontext-semibolditalic-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}
