@font-face {
    font-family: 'poppinsbold';
    src: url('~fonts/poppins/poppins-bold-webfont.eot');
    src: url('~fonts/poppins/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('~fonts/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('~fonts/poppins/poppins-light-webfont.eot');
    src: url('~fonts/poppins/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('~fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
         url('~fonts/poppins/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsmedium';
    src: url('~fonts/poppins/poppins-medium-webfont.eot');
    src: url('~fonts/poppins/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('~fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('~fonts/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('~fonts/poppins/poppins-regular-webfont.eot');
    src: url('~fonts/poppins/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('~fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('~fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('~fonts/poppins/poppins-semibold-webfont.eot');
    src: url('~fonts/poppins/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('~fonts/poppins/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
