$color-white: #FFFFFF;
$color-grey: #F3F3F3;
$color-black: #262626;
$color-yellow: #FACA33;
$color-greybrown: #D7D0C8;

$breakpoints: (
	0: 100vw,
	5: 400px,
	7: 600px,
	10: 768px,
	15: 920px,
	20: 1024px,
	25: 1280px,
	30: 1330px
);

$font-xl: 88px;
$font-lg: 62px;
$font-md: 38px;
$font-sm: 20px;
$font-xs: 13px;
